.navigation {
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  min-height: 100vh;
  width: 0px;
  transition: 0.6s;
  background-image: linear-gradient(to right, #005804, #00a16c);
  overflow: hidden;
  font-family: "Bebas Neue", cursive;
}
.navigation:hover,
.navigation.active {
  width: 300px;
}
.navigation ul {
  padding: 50px 0 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover {
  background: red;
}
.nav-title {
  position: relative;
  display: block;
  color: rgb(255, 255, 30);
  /* color: black; */
  padding: 0 40px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: 2px;
  height: 58px;
  font-size: 20px;
  cursor: pointer;
  text-align: start;
  white-space: nowrap;
}
#navbar img {
  z-index: 2;
  transform: scale(1.2);
  left: 69px;
  display: inline;
  position: absolute;
  padding: 15px;
}
.sub-title {
  padding: 0 50px;
  line-height: 35px;
  position: relative;
  /* color: rgb(255, 255, 35); */
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  white-space: nowrap;
  list-style: none;
  display: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.menu {
  position: fixed;
  display: none;
  z-index: 3;
  top: 0;
  right: 36px;
  background: #bb3e03;
  cursor: pointer;
  color: yellow;
  width: 78px;
  height: 58px;
  font-size: 25px;
  line-height: 60px;
  padding-left: 15px;
}
.toggle {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  padding: 3px;
  cursor: pointer;
  color: rgb(255, 238, 89);
  text-align: center;
  align-items: center;
  line-height: 60px;
  font-size: 30px;
}
/* .toggle.active {
  background: ;
  } */
.toggle:before {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 24px;
}
.fas {
  transition: 0.6s;
}
@media (max-width: 767px) {
  .navigation {
    color: #6d719f;
  }
  .navigation.active {
    left: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  #navbar img {
    transform: scale(0.45);
    left: -130px;
    top: -10px;
    padding: 0;
  }
  /* .menu{
      transform: scale(0.9);
      top: -10px;
      right: 25px;
    }   */
  /* .toggle{

      transform: scale(0.9);
      top: -10px;
      right: -5px;
    } */
}
